<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopfitt.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.Shopfitt"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:label="" />
        <activity
            android:name=".Activity.ItemPopActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Activity.CartActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.IntroductionActivity" />
        <activity android:name=".Activity.SelectLocationActivity" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:label="" />
        <activity
            android:name=".Activity.DeliveryActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".Activity.CartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopfitt.android.Activity.CartActivity" />
        </activity>
        <activity
            android:name=".Activity.CrunchActivity"
            android:label="" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopfitt.android.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.DeliveryActivityNew"
            android:label="@string/title_activity_delivery_activity_new"
            android:parentActivityName=".Activity.CartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopfitt.android.Activity.CartActivity" />
        </activity>
    </application>

</manifest>